@model JobApplication

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">

        <div class="caption">
            <p>@Model.ApplicationDate.ToString("dddd dd-MMM-yyyy")</p>
            <h1>@Model.CompanyName</h1>
            <h3 class="pull-right">Model.Status</h3>
        </div>
    </div>
</div>