@model IEnumerable<JobApplication>

@foreach (JobApplication application in Model)
{
    <div>
        <h2>@application.Name</h2>
        <h3>@application.StartDate</h3>
        <h4>@application.Status</h4>
    </div>
}
