@model IEnumerable<JobApplication>

<div class="text-center">
    <a class="btn btn-primary" asp-controller="jobApplication" asp-action="AddNewApplication">Add new application</a>
</div>

<br />

@foreach (JobApplication application in Model)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            @*<img src="@pie.ImageThumbnailUrl" alt="">*@
            <div class="caption">
                <h3 class="pull-right">@application.Status</h3>
                <h3>
                    <a>@application.CompanyName</a>
                </h3>
                <p>@application.ApplicationDate.ToString("dddd dd-MMM-yyyy")</p>
            </div>
        </div>
    </div>
}

